.data-table{
	border: solid;
}

#OptionsWrapper{
	width: 50%;
	margin-left: 25%;
}

.OptionContainer{
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 20px;
	margin-right: 20px;
	float: right;
	background-color: #eeeeee;
	position: relative;
	width: 15%;
}

.DisplayScreen{
	text-align: center;
	padding-top: 100px;
}

.dropPanel {
	border: solid;
	background-color: #aaaaaa;
	text-align: center;
	user-select: none;
	position: absolute;
	top: 0px;
	left: 0px;
	border-color: black;
	border-radius: blue;
	border-width: 1px;
	width: 99%;
	height: 100px;
	z-index: 100;
}

.userPanel {
	position: fixed;
	width: 90%;
}

.sliderButton {
	position: absolute;
	width: 10%;
	bottom: -15px;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	left: 45%;
}

#adminMessage{
	text-align: center;
	color: #0000ff;
}